@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,600&display=swap');

@font-face {
    font-family: Sega;
    src: url('../media/sega.ttf');
    /* https://www.dafontfree.io/sega-font/ */
}
:root {
    --color-shell: #282619;
    --buttons: #1E1B0E;
    --start: #5A5E51;
    --red: #e8450990;
    --orange: rgba(255, 166, 0, 0.5);
    --yellow: rgba(255, 255, 0, 0.5);
    --green: #2fb07290;
    --blue: #3E95BD90;
    --black: rgba(0, 0, 0, 0.8);
    --gray: rgba(0, 0, 0, 0.6);
    --gray-back1: #94a2ab;
    --gray-back2: #7f7a81;
    --white: #ffffff80;

}

body {
    /* background-image: url("../media/Gamegear_outline.svg");
    https://segaretro.org/images/2/20/Gamegear_outline.svg
    segaretro.org | GameGear outline | CC BY 4.0
    background-size: 60em 31em;
    */
    margin: 0;
    padding: 0;

    background-color: #e5e5f7;
    opacity: 1;
    background-image:
        linear-gradient(var(--gray-back2) 0.2em, transparent 0.2em), 
        linear-gradient(to right, var(--gray-back2) 0.2em, var(--gray-back1) 0.2em);
    background-size: 2.5em 2.5em;
}

.border {
    border: 3px solid black;
}

.border-alpha {
    border: 3px solid var(--gray);
}

.flex {
    display: flex;
}

.flex-end {
    align-items: flex-end;
    justify-content: flex-end;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.gamegear {
    position: absolute;
    margin-top: 1em;
    margin-left: 2.3em;
    margin-right: 1em;
    height: 29.5em;
    width: 56em;

    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; */
}

/*********************************
   Shell
*********************************/

.shell {
    position: absolute;
    height: 29.5em;
    width: 56em;
}

._1, ._6 {
    height: 29.5em;
    width: 2.7em;
    /* background-color: var(--red); */
    /* background-color: var(--color-shell); */
}

._11, ._61 {
    height: 1.9em;
    width: 0em;
}

._12, ._62 {
    height: 11.6em;
    width: 2.2em;
    /* background: var(--orange); */
    background-color: var(--color-shell);
    border-radius: 100% 0 0 0;
}

._13, ._63 {
    height: 10.3em;
    width: 2.6em;
    /* background-color: var(--yellow); */
    background-color: var(--color-shell);
    border-radius: 12% 0 0 5%;
    /* transform: rotate(0.75deg); */
}

._14, ._64 {
    height: 6em;
    width: 2.7em;
}

._141, ._641 {
    height: 4.5em;
    width: 2.7em;
    /* background-color: var(--green); */
    background-color: var(--color-shell);
    border-radius: 0 0 0 100%;
}

._142, ._642 {
    height: 1.5em;
    width: 0;
}

._2, ._5 {
    height: 29.5em;
    width: 7.8em;
    /* background-color: var(--red); */
    /* background-color: var(--color-shell); */
}

._21, ._51 {
    height: 1.8em;
    width: 7.8em;
}

._211, ._511 {
    height: 0.8em;
    width: 7.8em;
}

._212 {
    height: 1.6em;
    width: 7.8em;
    /* background-color: var(--green); */
    background-color: var(--color-shell);
    border-radius: 100% 0 0 0;
}

._22, ._52 {
    height: 26.3em;
    width: 7.8em;
    /* background-color: var(--orange); */
    background-color: var(--color-shell);
}

._23, ._53 {
    height: 1.0em;
    width: 7.8em;
    /* background-color: var(--yellow); */
    background-color: var(--color-shell);
    border-radius: 0 0 0 100%;
}

._3, ._4 {
    height: 29.5em;
    width: 17.5em;
    /* background-color: var(--red); */
    /* background-color: var(--color-shell); */
}

._31, ._41 {
    height: 1.8em;
    width: 17.5em;
    /* background-color: var(--yellow); */
    background-color: var(--color-shell);
    border-radius: 50% 0 0 0;
}

._32, ._42 {
    height: 27em;
    width: 17.5em;
    /* background-color: var(--orange); */
    background-color: var(--color-shell);
}

._33, ._43 {
    height: 0.7em;
    width: 17.5em;
    /* background-color: var(--green); */
    background-color: var(--color-shell);
    border-radius: 0 0 0 50%;
}

._41, ._43, ._51, ._53, 
._61, ._62, ._63, ._64 {
    transform: scaleX(-1); 
}

._512 {
    height: 1em;
    width: 7.8em;
    /* background-color: var(--green); */
    background-color: var(--color-shell);
    border-radius: 80% 0 0 0;
}

/*********************************
   Directional pad
*********************************/

.dpad {
    position: absolute;
    background-color: var(--buttons);
    height: 6.5em;
    margin: 8em 0 0 3em;
    width: 6.5em;
    z-index: 30;
    border-radius: 50%;
}

.square {
    background: var(--buttons);
    height: 2em;
    width: 2em;
    margin: 0.2em 0 0 2.1em;
    position: relative;
    border-left: 3px solid var(--black);
    border-right: 3px solid  var(--black);
}

.triangle {
    position: relative;
    left: -0.2em;
    bottom: 1.1em;
    height: 0;
    width: 0;
    border-left: 1.3em solid transparent;
    border-right: 1.3em solid transparent;
    border-bottom: 1.3em solid var(--black);
}
.triangle:after{
    content:'';
    width: 0; 
    height: 0; 
    border-left: 1.1em solid transparent;
    border-right: 1.1em solid transparent;
    border-bottom: 1.1em solid var(--buttons);  
    position: absolute;
    top: 0.2em;
    left:-1.1em;
}

.up {
    position: absolute;
    margin: 0.2em 0em 0em 2em;
    transform: rotate(180deg);
}

.left {
    position: absolute;
    margin: 2.2em 0em 0em 0em;
    transform: rotate(90deg);
}

.down {
    position: absolute;
    margin: 4.3em 0em 0em 2em;
    /* transform: rotate(180deg); */
}

.right {
    position: absolute;
    margin: 2.2em 0em 0em 4em;
    transform: rotate(-90deg);
}

.screen {
    position: absolute;
    background-color: var(--gray);
    height: 13.2em;
    margin: 3.8em 0 0 19em;
    width: 17.8em;
    z-index: 30;
    border-radius: 5%;
    transition: background-color 5s;
}

.screen:hover {
    background-color: var(--blue);
}

.screen-frame {
    position: absolute;
    background-color: var(--color-shell);
    height: 15.3em;
    margin: 2.6em 0 0 17.8em;
    width: 20.2em;
    z-index: 30;
    border-radius: 10% 10% 5% 5%;
}

.speaker {
    position: absolute;
    height: 6em;
    margin: 20.2em 0 0 5em;
    width: 8em;
    z-index: 30;

    display: grid;
    grid-template-columns: repeat(8, 0.8em);
    grid-template-rows: repeat(5, 0.8em);
    grid-column-gap: 0.2em;
    grid-row-gap: 0.2em;
    align-items: center;
    justify-items: center;
}

.__01 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.__02 {
    grid-column: 2 / 3;
    grid-row: 1 / 2; 
}
.__03 {
    grid-column: 3 / 4;
    grid-row: 1 / 2; 
}
.__04 {
    grid-column: 4 / 5;
    grid-row: 1 / 2; 
}
.__05 {
    grid-column: 5 / 6;
    grid-row: 1 / 2; 
}
.__06 {
    grid-column: 6 / 7;
    grid-row: 1 / 2; 
}
.__07 {
    grid-column: 7 / 8;
    grid-row: 1 / 2; 
}
.__08 {
    grid-column: 8 / 9;
    grid-row: 1 / 2; 
}
.__09 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.__10 {
    grid-column: 2 / 3;
    grid-row: 2 / 3; 
}
.__11 {
    grid-column: 3 / 4;
    grid-row: 2 / 3; 
}
.__12 {
    grid-column: 4 / 5;
    grid-row: 2 / 3; 
}
.__13 {
    grid-column: 5 / 6;
    grid-row: 2 / 3; 
}
.__14 {
    grid-column: 6 / 7;
    grid-row: 2 / 3; 
}
.__15 {
    grid-column: 7 / 8;
    grid-row: 2 / 3; 
}
.__16 {
    grid-column: 8 / 9;
    grid-row: 2 / 3; 
}
.__17 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.__18 {
    grid-column: 2 / 3;
    grid-row: 3 / 4; 
}
.__19 {
    grid-column: 3 / 4;
    grid-row: 3 / 4; 
}
.__20 {
    grid-column: 4 / 5;
    grid-row: 3 / 4; 
}
.__21 {
    grid-column: 5 / 6;
    grid-row: 3 / 4; 
}
.__22 {
    grid-column: 6 / 7;
    grid-row: 3 / 4; 
}
.__23 {
    grid-column: 7 / 8;
    grid-row: 3 / 4; 
}
.__24 {
    grid-column: 8 / 9;
    grid-row: 3 / 4; 
}
.__25 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}
.__26 {
    grid-column: 2 / 3;
    grid-row: 4 / 5; 
}
.__27 {
    grid-column: 3 / 4;
    grid-row: 4 / 5; 
}
.__28 {
    grid-column: 4 / 5;
    grid-row: 4 / 5; 
}
.__29 {
    grid-column: 5 / 6;
    grid-row: 4 / 5; 
}
.__30 {
    grid-column: 6 / 7;
    grid-row: 4 / 5; 
}
.__31 {
    grid-column: 7 / 8;
    grid-row: 4 / 5; 
}
.__32 {
    grid-column: 8 / 9;
    grid-row: 4 / 5; 
}
.__33 {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}
.__34 {
    grid-column: 2 / 3;
    grid-row: 5 / 6; 
}
.__35 {
    grid-column: 3 / 4;
    grid-row: 5 / 6; 
}
.__36 {
    grid-column: 4 / 5;
    grid-row: 5 / 6; 
}
.__37 {
    grid-column: 5 / 6;
    grid-row: 5 / 6; 
}
.__38 {
    grid-column: 6 / 7;
    grid-row: 5 / 6; 
}
.__39 {
    grid-column: 7 / 8;
    grid-row: 5 / 6; 
}
.__40 {
    grid-column: 8 / 9;
    grid-row: 5 / 6; 
}

.dot {
    background-color: var(--black);
    border-radius: 50%;
    height: 0.5em;
    width: 0.5em;
    z-index: 50;
}

.logo-dots {
    position: absolute;
    /* background-color: var(--yellow); */
    height: 1.9em;
    width: 0.8em;
    margin: 2.7em 0 0 12.5em;
    z-index: 30;
    transform: rotate(43deg);
}

.logo-dot1 {
    background-color: var(--red);
    border-radius: 50%;
    margin: 2.7em 0 0 12.8em;
}

.logo-dot2 {
    background-color: var(--green);
    border-radius: 50%;
    margin: 2.7em 0 0 14.1em;
}

.logo-dot3 {
    background-color: var(--blue);
    border-radius: 50%;
    margin: 2.7em 0 0 15.4em;
}

.logo {
    position: absolute;
    /* background-color: var(--red); */
    height: 1.6em;
    margin: 3.3em 0 0 8.8em;
    width: 3.6em;
    z-index: 30;
    font-family: "Kanit", sans-serif;
    font-style: italic;
    /* font-stretch: narrower; */
    /* font-weight: bolder; */
    font-size: 1.4rem;
    line-height: 0.9;
    padding: 0;
}

.logo span {
    color: rgba(255, 255, 255, 0.5);
}

#tab {
    margin-left: 0.7em;
    float: left;
}

.power {
    position: absolute;
    background-color: rgb(37, 37, 37);
    height: 0.9em;
    margin: 7.8em 0 0 14.7em;
    width: 0.9em;
    z-index: 30;
    border-radius: 50%;
}

.power-on {
    background-color: var(--red);
    box-shadow: 0.1em 0.1em 2em 0.4em var(--red);
}

.power-tag {
    position: absolute;
    height: 0.9em;
    margin: 15.5em 0 0 23.55em;
    width: 0.9em;
    z-index: 30;
    color: var(--white);
    font-family: sans-serif;
    font-size: 0.6em;
}

.sega {
    position: absolute;
    font-family: 'Sega';
    font-size: 1.6em;
    color: var(--white);
    /* background-color: var(--blue); */
    height: 1em;
    margin: 2.3em 0 0 24.7em;
    width: 3em;
    z-index: 30;
}

.sega-tag {
    position: absolute;
    height: 4em;
    margin: 8.5em 0 0 60.8em;
    width: 7em;
    z-index: 30;
    color: var(--green);
    font-family: sans-serif;
    font-size: 0.65em;
    font-weight: bolder;
}

.button1, .button2 {
    position: absolute;
    background-color: var(--buttons);
    height: 3.6em;
    margin: 11.4em 0 0 45.1em;
    width: 3.5em;
    z-index: 30;
    border-radius: 50%;
}

.button2 {
    margin: 8.3em 0 0 49.3em;
}

.button1-tag, .button2-tag {
    position: absolute;
    /* background-color: yellow; */
    height: 4em;
    margin: 4.5em 0 0 33em;
    width: 7em;
    z-index: 30;
    color: var(--white);
    font-family: sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    transform: rotate(-45deg); 
}

.button2-tag {
    margin: 2.1em 0 0 36em;
}

.buttons-line {
    height: 0.3em;
    width: 5.3em;
    transform: rotate(-40deg);
    margin: 8em 0 0 45em;
    border-top: 0.15em solid var(--white);
    border-left: 0.15em solid var(--white);
    border-right: 0.15em solid var(--white);
    z-index: 30;
}

.shadow {
    box-shadow: 0.5em 0.8em 0.3em var(--black);
}
.shadow:hover {
    box-shadow: 0.3em 0.4em 0.3em var(--black);
    transition: box-shadow 0.2s;
}

.shadow-mini {
    box-shadow: 0.4em 0.4em 0.2em var(--black);
}
.shadow-mini:hover {
    box-shadow: 0.2em 0.3em 0.2em var(--black);
    transition: box-shadow 0.2s;
}

/* .shadow-inset {
    box-shadow: inset 0 -30px 10px -20px var(--black);
    transition: box-shadow 1s;
} */
/* .shadow-inset:hover {
    box-shadow: inset 0 -30px 10px -20px var(--black);
} */

.start {
    position: absolute;
    background-color: var(--start);
    height: 3em;
    width: 1.7em;
    margin: 3.5em 0 0 46.7em;
    border-bottom-right-radius: 7.2em;
    border-top-right-radius: 7.2em;
    z-index: 30;
    transform: rotate(18deg);
}

.start-dot {
    position: absolute;
    background-color: var(--start);
    height: 0.2em;
    margin: 4.7em 0 0 47.5em;
    width: 0.2em;
    z-index: 30;
    border-radius: 50%;
}

.start-tag{
    position: absolute;
    /* background-color: yellow; */
    height: 4em;
    margin: 6em 0 0 65.3em;
    width: 7em;
    z-index: 30;
    color: var(--white);
    font-family: sans-serif;
    font-size: 0.75em;
    font-weight: bold;
}

.screen-shell {
    position: absolute;
    background-color: var(--yellow);
    height: 16.1em;
    margin: 2.2em 0 0 17.3em;
    width: 21.2em;
    z-index: 30;
    border-radius: 3%;
}

.screen-ornament {
    position: absolute;
    margin: 1.3em 0 0 9em;
    width: 24em;
    z-index: 30;
    border-radius: 18% 18% 39% 39%;
    border-top: 19.3em solid var(--black);
    border-left: 7em solid transparent;
    border-right: 7em solid transparent;
    height: 0;
}

.shell-screen {
    position: absolute;
    margin: 0.2em 0 0 8em;
    width: 26em;
    z-index: 30;
    border-radius: 8% 8% 40% 40%;
    border-top: 21.3em solid var(--black);
    border-left: 7em solid transparent;
    border-right: 7em solid transparent;
    height: 0;
}