@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,600&display=swap');

@font-face {
    font-family: Sega;
    src: url('../media/sega.ttf');
    /* https://www.dafontfree.io/sega-font/ */
}
:root {
    --color-shell: #282619;
    --red: rgba(255, 0, 0, 0.5);
    --orange: rgba(255, 166, 0, 0.5);
    --yellow: rgba(255, 255, 0, 0.5);
    --green: rgba(0, 128, 0, 0.5);
    --blue: rgba(0, 0, 255, 0.5);
    --black: rgba(0, 0, 0, 0.8);
    --gray: rgba(0, 0, 0, 0.5);

}

body {
    /* background-image: url("../media/Gamegear_outline.svg"); */
    /*
    https://segaretro.org/images/2/20/Gamegear_outline.svg
    segaretro.org | GameGear outline | CC BY 4.0
    */
    background-repeat: no-repeat;
    background-size: 60em 31em;

    margin: 0;
    padding: 0;
}

.border {
    border: 2px solid black;
}

.flex {
    display: flex;
}

.flex-end {
    align-items: flex-end;
    justify-content: flex-end;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.gamegear {
    position: relative;
    margin-top: 1em;
    margin-left: 2.3em;
    margin-right: 1em;
    height: 29.5em;
    width: 56em;
}

/*********************************
   Shell
*********************************/

.shell {
    position: absolute;
    height: 29.5em;
    width: 56em;
}

._1, ._6 {
    height: 29.5em;
    width: 2.7em;
    /* background-color: var(--red); */
    /* background-color: var(--color-shell); */
}

._11, ._61 {
    height: 1.9em;
    width: 0em;
}

._12, ._62 {
    height: 11.6em;
    width: 2.2em;
    /* background: var(--orange); */
    background-color: var(--color-shell);
    border-radius: 100% 0 0 0;
}

._13, ._63 {
    height: 10.3em;
    width: 2.6em;
    /* background-color: var(--yellow); */
    background-color: var(--color-shell);
    border-radius: 12% 0 0 5%;
    /* transform: rotate(0.75deg); */
}

._14, ._64 {
    height: 6em;
    width: 2.7em;
}

._141, ._641 {
    height: 4.5em;
    width: 2.7em;
    /* background-color: var(--green); */
    background-color: var(--color-shell);
    border-radius: 0 0 0 100%;
}

._142, ._642 {
    height: 1.5em;
    width: 0;
}

._2, ._5 {
    height: 29.5em;
    width: 7.8em;
    /* background-color: var(--red); */
    /* background-color: var(--color-shell); */
}

._21, ._51 {
    height: 1.8em;
    width: 7.8em;
}

._211, ._511 {
    height: 0.8em;
    width: 7.8em;
}

._212 {
    height: 1.6em;
    width: 7.8em;
    /* background-color: var(--green); */
    background-color: var(--color-shell);
    border-radius: 100% 0 0 0;
}

._22, ._52 {
    height: 26.3em;
    width: 7.8em;
    /* background-color: var(--orange); */
    background-color: var(--color-shell);
}

._23, ._53 {
    height: 1.0em;
    width: 7.8em;
    /* background-color: var(--yellow); */
    background-color: var(--color-shell);
    border-radius: 0 0 0 100%;
}

._3, ._4 {
    height: 29.5em;
    width: 17.5em;
    /* background-color: var(--red); */
    /* background-color: var(--color-shell); */
}

._31, ._41 {
    height: 1.8em;
    width: 17.5em;
    /* background-color: var(--yellow); */
    background-color: var(--color-shell);
    border-radius: 50% 0 0 0;
}

._32, ._42 {
    height: 27em;
    width: 17.5em;
    /* background-color: var(--orange); */
    background-color: var(--color-shell);
}

._33, ._43 {
    height: 0.7em;
    width: 17.5em;
    /* background-color: var(--green); */
    background-color: var(--color-shell);
    border-radius: 0 0 0 50%;
}

._41, ._43, ._51, ._53, 
._61, ._62, ._63, ._64 {
    transform: scaleX(-1); 
}

._512 {
    height: 1em;
    width: 7.8em;
    /* background-color: var(--green); */
    background-color: var(--color-shell);
    border-radius: 80% 0 0 0;
}

/*********************************
   Directional pad
*********************************/

.dpad {
    position: absolute;
    background-color: var(--red);
    height: 6.5em;
    margin: 8em 0 0 3em;
    width: 6.5em;
    z-index: 30;
    border-radius: 50%;
}

.screen {
    position: absolute;
    background-color: var(--blue);
    height: 13.2em;
    margin: 3.8em 0 0 19em;
    width: 17.8em;
    z-index: 30;
    border-radius: 5%;
}

.screen-frame {
    position: absolute;
    background-color: var(--green);
    height: 15.3em;
    margin: 2.6em 0 0 17.8em;
    width: 20.2em;
    z-index: 30;
    border-radius: 10% 10% 5% 5%;
}

.speaker {
    position: absolute;
    background-color: var(--red);
    height: 4.4em;
    margin: 20.2em 0 0 6.3em;
    width: 5.2em;
    z-index: 30;
}

.logo-dots {
    position: absolute;
    /* background-color: var(--yellow); */
    height: 1.9em;
    width: 0.9em;
    margin: 2.7em 0 0 12.5em;
    z-index: 30;
    transform: rotate(43deg);
}

.logo-dot1 {
    background-color: var(--red);
    border-radius: 50%;
    margin: 2.7em 0 0 12.8em;
}

.logo-dot2 {
    background-color: var(--green);
    border-radius: 50%;
    margin: 2.7em 0 0 14.1em;
}

.logo-dot3 {
    background-color: var(--blue);
    border-radius: 50%;
    margin: 2.7em 0 0 15.4em;
}

.logo {
    position: absolute;
    /* background-color: var(--red); */
    height: 1.6em;
    margin: 3.3em 0 0 8.8em;
    width: 3.6em;
    z-index: 30;
    font-family: "Kanit", sans-serif;
    font-style: italic;
    /* font-stretch: narrower; */
    /* font-weight: bolder; */
    font-size: 1.4rem;
    line-height: 0.9;
    padding: 0;
}

.logo span {
    color: rgba(255, 255, 255, 0.5);
}

#tab {
    margin-left: 0.7em;
    float: left;
}

.power {
    position: absolute;
    background-color: var(--red);
    height: 0.9em;
    margin: 7.8em 0 0 14.7em;
    width: 0.9em;
    z-index: 30;
    border-radius: 50%;
}

.sega {
    position: absolute;
    font-family: 'Sega';
    font-size: 1.6em;
    color: #ccc;
    /* background-color: var(--blue); */
    height: 1em;
    margin: 2.3em 0 0 24.7em;
    width: 3em;
    z-index: 30;
}

.button1, .button2 {
    position: absolute;
    background-color: var(--blue);
    height: 3.6em;
    margin: 11.4em 0 0 45.1em;
    width: 3.5em;
    z-index: 30;
    border-radius: 50%;
}

.button2 {
    margin: 8.3em 0 0 49.3em;
}

.start {
    position: absolute;
    background-color: var(--blue);
    height: 3.4em;
    margin: 4.2em 0 0 46.7em;
    width: 1.8em;
    border-bottom-right-radius: 7.2em;
    border-top-right-radius: 7.2em;
    z-index: 30;
    transform: rotate(20deg);
}

.start-dot {
    position: absolute;
    background-color: rgba(0, 0, 255, 0.5);
    height: 0.7em;
    margin: 5.3em 0 0 47em;
    width: 0.7em;
    z-index: 30;
    border-radius: 50%;
}

.screen-shell {
    position: absolute;
    background-color: var(--yellow);
    height: 16.1em;
    margin: 2.2em 0 0 17.3em;
    width: 21.2em;
    z-index: 30;
    border-radius: 3%;
}

.screen-ornament {
    position: absolute;
    margin: 1.3em 0 0 9em;
    width: 24em;
    z-index: 30;
    border-radius: 18% 18% 39% 39%;
    border-top: 19.3em solid var(--black);
    border-left: 7em solid transparent;
    border-right: 7em solid transparent;
    height: 0;
}

.shell-screen {
    position: absolute;
    margin: 0.2em 0 0 8em;
    width: 26em;
    z-index: 30;
    border-radius: 8% 8% 40% 40%;
    border-top: 21.3em solid var(--black);
    border-left: 7em solid transparent;
    border-right: 7em solid transparent;
    height: 0;
}