body {
    background-image: url("../media/Gamegear_outline.svg");
    /*
    https://segaretro.org/images/2/20/Gamegear_outline.svg
    segaretro.org | GameGear outline | CC BY 4.0
    */
    background-repeat: no-repeat;
    background-size: 60em 31em;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.flex-end {
    align-items: flex-end;
    justify-content: flex-end;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

#gamegear {
    position: absolute;
    margin-top: 1em;
    margin-left: 2.3em;
    margin-right: 1em;
    height: 29.5em;
    width: 56em;
}

/*********************************
   Shell
*********************************/

#shell {
    position: relative;
    height: 29.5em;
    width: 56em;
}

#_1, #_6 {
    height: 29.5em;
    width: 2.7em;
    background-color: rgba(255, 0, 0, 0.2);
}

#_11, #_61 {
    height: 1.9em;
    width: 0em;
}

#_12, #_62 {
    height: 11.6em;
    width: 2.2em;
    background: rgba(255, 166, 0, 0.5);
    border-radius: 100% 0 0 0;
}

#_13, #_63 {
    height: 10em;
    width: 2.4em;
    background-color: rgba(255, 255, 0, 0.5);
    border-radius: 12% 0 0 5%;
    transform: rotate(1deg);
}

#_14, #_64 {
    height: 6em;
    width: 2.7em;
}

#_141, #_641 {
    height: 4.5em;
    width: 2.7em;
    background-color: rgba(0, 128, 0, 0.5);
    border-radius: 0 0 0 100%;
}

#_142, #_642 {
    height: 1.5em;
    width: 0;
}

#_2, #_5 {
    height: 29.5em;
    width: 7.8em;
    background-color: rgba(255, 0, 0, 0.2);   
}

#_21, #_51 {
    height: 1.8em;
    width: 7.8em;
}

#_211, #_511 {
    height: 0.8em;
    width: 7.8em;
}

#_212 {
    height: 1.6em;
    width: 7.8em;
    background-color: rgba(0, 128, 0, 0.5);
    border-radius: 100% 0 0 0;
}

#_22, #_52 {
    height: 26.3em;
    width: 7.8em;
    background-color: rgba(255, 166, 0, 0.5);
}

#_23, #_53 {
    height: 1.0em;
    width: 7.8em;
    background-color: rgba(255, 255, 0, 0.5);
    border-radius: 0 0 0 100%;
}

#_3, #_4 {
    height: 29.5em;
    width: 17.5em;
    background-color: rgba(255, 0, 0, 0.2);
}

#_31, #_41 {
    height: 1.8em;
    width: 17.5em;
    background-color: rgba(255, 255, 0, 0.5);
    border-radius: 50% 0 0 0;
}

#_32, #_42 {
    height: 27em;
    width: 17.5em;
    background-color: rgba(255, 166, 0, 0.5);
}

#_33, #_43 {
    height: 0.7em;
    width: 17.5em;
    background-color: rgba(0, 128, 0, 0.5);
    border-radius: 0 0 0 50%;
}

#_41, #_43, #_51, #_53, 
#_61, #_62, #_63, #_64 {
    transform: scaleX(-1); 
}

#_512 {
    height: 1.6em;
    width: 7.8em;
    background-color: rgba(0, 128, 0, 0.5);
    border-radius: 80% 0 0 0;
}

/*********************************
   Directional pad
*********************************/

